Repository sr-tamim/entropy-calculator, pull requests merged in 2024-03, with the labels that each got.

#7 Create Gold.h
  elements/Gold.h
Labels: new element

#9 Create Salt.h
  elements/Salt.h
Labels: new element

#10 Create Suger.h
  elements/Suger.h
Labels: new element

#11 Create Diamond.h
  elements/Diamond.h
Labels: new element

#17 fix typo in allElements.cpp
  elements/Sugar.h
  headers/allElements.cpp
Labels: bug

#18 Fix heat and entropy calculations in baseElement class
  headers/baseElement.h
Labels: bug

#21 Create Iron.h
  elements/Iron.h
Labels: new element

#20 Create Cupper.h
  elements/Cupper.h
Labels: new element

#22 Create EthanoicAcid.h
  elements/EthanoicAcid.h
Labels: new element

#23 Update allElements.cpp
  headers/allElements.cpp
Labels: new element

#24 Copper typo fix and elements added in .cbp file
  CMakeLists.txt
  elements/Copper.h
  elements/Iron.h
  entropy-calculator.cbp
Labels: enhancement
